body{
  background:#A9632B;
}

.title{
	text-align:center;
	color:lightgrey;
	text-shadow: 3px 2px 3px black;
}

 footer{
  text-align: center;
  margin: 0;
  width:100%;
  position: absolute;
  bottom: 0px; 
 }